:root {
  --amplify-primary-color: #ea65fc;
  --amplify-primary-tint: #8eff59;
  --amplify-primary-shade: #009ffc;
  --amplify-font-family: "Arial";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
